<h1 class="indent-header">Welcome to the Sentricon App!</h1>

<div class="indent-elements">
    <p><%= link_to "Log In", login_path %></p>
    <p><%= link_to("Log in with Facebook", '/auth/facebook') %></p>
    <p><%= link_to "Sign Up", new_user_path %></p>
</div>

