<p> id="notice"><%= notice %></p>

<% if flash[:message] %>
    <div class="center alert">
        <p><%= flash[:message] %></p>
    </div>
<% end %>

<div class="center">

    <div class="info">
        <p><strong>Username:</strong> <%= @user.username %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>
        
    </div>
</div>