<% @accounts.each do |a| %>
    <div class="content center">
        <h3><%= link_to "#{a.name}", "/accounts/#{a.id}" %></h3>
        <%= a.address %>
        <%= a.phone_number %>
        <%= a.instructions %>
    </div>
<% end %>